@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: white;
}

html{
  max-width:  1670px;
  margin: 0 auto;
}

body {
  width: 100%;
  background-color: rgb(240, 240, 240);

}

.app-container {
  padding: 3rem;
}

.center {
  margin: 0 auto;
}

.fade-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.fade-effect img {
  display: block;
}

.fade-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.642), black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container-p {
    padding: 1.5rem 2rem;
  }
}
